.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  width: 13.5625rem;
  margin: 2.7rem auto;
  color: #1C1C1C;
  text-align: center;
  font-size: 1.1875rem;
  line-height: 1.2rem;
}

.input {
  max-width: 22rem;
  width: 100%;
  margin: 0 auto 2.3rem 3rem;
  display: block;
}

.input_password {
  max-width: 20.7rem;
}

.password_container {
  position: relative;
}

.password_icon {
  position: absolute;
  cursor: pointer;
  right: 2.8rem;
  top: 1.4rem;
  padding: 0 0 2px 8px;
  border-bottom: 1px solid #BB000E;
}

.button {
  margin: 0 3rem 1.3rem auto;
}